__pycache__/
.vscode/
.venv/
tmp/
output*/
demos/
extradata/
cutouts/
reference_catalogs/
**.fits
**.pickle
**.zip*
**.tar*
**.log
legacy/
batch-heavyfp-kron-refit/test/
batch-heavyfp-kron-refit/refit/
zangetsu_demo/preprocessed
zangetsu_demo/eval*
zangetsu_demo/data
**.reg
vis/